version: 2
jobs:
  build:
    docker:
      - image: buildpack-deps:trusty
      #- image: circleci/ruby:latest
    steps:
      - checkout
      - run: 
          name: "test message"
          command: echo "CircleCI 2.0 Test"
      #- run:
          #name: "Check Ruby version"
          #command: ruby --version
          # command: heroku maintenance:on --app andorferadvisors
      - run: 
          name: "end message"
          command: echo "Finished CircleCI 2.0 Test"
