%div.fullwindowheight{style:"padding-top:35%;"}
  .shrinkwrapcenterhv
    %div.childabc
      .pad2.lighttextbackground.blackborder{style:"border-radius:10%;"}
        %table.objcenter
          %tr
            %td= image_tag("andorferadvisors_moreinfo_qrcode.png", {class: "qrcode_png"})
          %tr
            %td.center © 2019  AndorferAdvisors.com
  }
}
  


