.shrinkwrapcenter
  %div{:style=>"margin-top:100%"}
    .pad2.lighttextbackground.blackborder
      %table.objcenter
        %tr
          %td= image_tag("andorferadvisors_moreinfo_qrcode.png", {class: "qrcode_png"})
        %tr
          %td.center © 2016  AndorferAdvisors.com
  


